
body {
    margin: 0;
}
@font-face {
    font-family: 'aniron-bold';
    src: url(../assets/fonts/aniron-bold.ttf);
}
@font-face {
    font-family: 'tengwar-annatar-bold-italic';
    src: url(../assets/fonts/tengwar-annatar-bold-italic.ttf);
}
/* Banner styling */
.banner {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    position: relative;
    font-family: 'tengwar-annatar-bold-italic';
    color: #000000;
    font-size: 4vw;
}
/* Style translated banner text and position relative to banner */
.banner-text-translate {
    font-family: 'aniron-bold';
    color: #000000;
    font-size: 1.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 5.5vw;
    left: 36.9vw;
}
/* Map styling */
.map-container {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    
    /* Apply Box Model properties to map */
    border: 5vw;
    margin: 5vw auto;
    margin-top: 5vw;
    z-index: 2;
}

.map {
    width: 100%;
    height: auto;
    cursor: grab; /* Change cursor to grab on hovering over map to indicate ability to navigate via dragging */
    z-index: 3;
}

.map-border-container {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transform: translate(0%, -107.5%);
    
    /* Apply Box Model properties to map border*/
    margin: 5vw auto;
    margin-top: 5vw;
    z-index: 1;
}

.map-border {
    width: 100%;
    height: auto;
    pointer-events: none;
}

.map-text-overlay {
    width: 100%;
    height: auto;
    position: absolute;
    pointer-events: none;
    z-index: 4;
}

/* Location marker styling */
.marker {
    width: 3.74%;
    height: 4.43%;
    top: 31.06%;
    left: 26.16%;
    position: absolute;
    background-image: url("../assets/marker.png");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}